metadata.csv
comp6861_env/
*.bak
pretrained_ecapa/
*.pyc
*.npz
.idea/
comp6861_env_wsl/
*.ckpt
outputs/
data/ami_public_manual_1.6.2/argumentation/ae/ES2005c.C.argumentstructs.xml
data/ami_public_manual_1.6.2/
*.wav
*.1
*.bat
env.sh
